.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px auto;
    text-align: center;
    gap: 25px;
   
}

#name,#email,#tel,#cpf{
    margin-top: 10px;
    width: 97%;
    height: 25px;
    border-radius: 8px;
    text-align: center;
    font-size: 90%;
    
    
}



